<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carrusel</title>
    <link rel="stylesheet" href="/css/carrusel.css">
</head>
<body>

<div class="carrusel">
    <% imagenes.forEach((img, index) => { %>
        <div class="slide">
            <img src="<%= img.UrlImagen %>" alt="<%= img.Titulo %>">
            <h3><%= img.Titulo %></h3>
        </div>
    <% }) %>
</div>

</body>
</html>
